{% extends "base.html" %}
{% block title %}{{ movies.title }} - Movie Recommendation System{% endblock %}
{% block content %}

<!-- #MOVIE DETAIL -->
<div class="movie-detail">
    <div class="backdrop-image" style="background-image: url('{{ movies.backdrop_path }}')"></div>
    <figure class="poster-box movie-poster">
        <img src="{{ movies.poster_path }}" alt="{{ movies.title }}" class="img-cover">
    </figure>

    <div class="detail-box">
        <div class="detail-content">
            <h1 class="heading">{{ movies.title }}</h1>
            <div class="meta-list">
                <div class="meta-item">
                    <img src="../static/images/star.png" width="20" height="20" alt="rating">
                    <span class="span">{{ movies.vote_average }}</span>
                </div>
                <div class="separator"></div>
                <div class="meta-item">{{ movies.runtime }}</div>
                <div class="separator"></div>
                <div class="meta-item">{{ movies.release_date }}</div>
                <div class="meta-item card-badge">{{ movies.certification }}</div>
            </div>
            <p class="genre">{{ movies.genres }}</p>
            <p class="overview">{{ movies.overview }}</p>
            <ul class="detail-list">
                <div class="list-item">
                    <p class="list-name">Starring</p>
                    <p>{{ movies.casts }}</p>
                </div>
                <div class="list-item">
                    <p class="list-name">Directed By</p>
                    <p>{{ movies.directors }}</p>
                </div>
                <div class="list-item">
                    <p class="list-name">Language</p>
                    <p>{{ movies.language }}</p>
                </div>
            </ul>
        </div>

        <div class="title-wrapper">
            <h3 class="title-large">Trailers and Clips</h3>
        </div>

        <div class="slider-list">
            <div class="slider-inner">
                {% for video_url in movies.videos %}
                <iframe src="{{ video_url }}" frameborder="0" allowfullscreen="1" loading="lazy"></iframe>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- #MOVIE LIST -->
<section class="recommended-movies">
    <div class="title-wrapper">
        <h3 class="title-large">Recommended Movies</h3>
    </div>

    <div class="slider-list">
        <div class="slider-inner">
            {% for movies in recommended %}
            <div class="movie-card">
                <figure class="poster-box card-banner">
                    <img src="https://image.tmdb.org/t/p/w1280/{{ movies.poster_path }}" alt="{{ movies.title }}" class="img-cover">
                </figure>
                <h4 class="title">{{ movies.title }}</h4>
                <div class="meta-list">
                    <div class="meta-item">
                        <img src="../static/images/star.png" width="20" height="20" loading="lazy" alt="rating">
                        <span class="span">{{ movies.vote_average }}</span>
                    </div>
                    <div class="card-badge">{{ movies.release_date }}</div>
                </div>
                <a href="/detail/{{ movies.id }}" class="card-btn" title="{{ movies.title }}"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}